body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;

  /* 100%px == 16px == 1em*/
  font-size: 5.625rem;
  margin: 3.125rem auto -1rem auto;
  /* 
  // top: 0px; right: auto; 
  // button: 0px; left: auto;
  
  margin: 0 auto; 
  */
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

.pro {
  text-decoration: underline;
}

.topContainer {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skillRow {
  line-height: 2;
  margin: 6.25rem auto;
  text-align: left;
  width: 50%;
}

.codeImg {
  width: 25%;
}

.fire {
  width: 25%;
}

.bottomContainer {
  background-color: #11999e;
}
/*          ||
    margin  ||
            ||  padding
            ||
 */

/* .middleContainer {
  background-color: red;
  height: 200px;
  width: 200px;
}

.lastContainer {
  background-color: blue;
  height: 200px;
  width: 200px;
} */
