body {
  margin: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

/*          ||
    margin  ||
            ||  padding
            ||
 */
div {
  background-color: #e4f9f5;
}

.topContainer {
}

.middleContainer {
  background-color: red;
  height: 200px;
  width: 200px;
}

.lastContainer {
  background-color: blue;
  height: 200px;
  width: 200px;
}

.pro {
  text-decoration: underline;
}
