body {
  margin: 0;
  font-family: "Merriweather", serif;
  text-align: center;
}

h1 {
  font-family: "Sacramento", cursive;
  margin-top: 0;
  /* 
  // top: 0px; right: auto; 
  // button: 0px; left: auto;
  
  margin: 0 auto; 
  */
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

/*          ||
    margin  ||
            ||  padding
            ||
 */

/* .middleContainer {
  background-color: red;
  height: 200px;
  width: 200px;
}

.lastContainer {
  background-color: blue;
  height: 200px;
  width: 200px;
} */

.pro {
  text-decoration: underline;
}

.topContainer {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
